<!-- State Management -->
<ng-container [ngSwitch]="currentState">

  <!-- Initial State -->
  <app-initial-state *ngSwitchCase="'initial'"
    (locationSelected)="onLocationSelected($event.coords, $event.locationData)">
  </app-initial-state>

  <!-- Loading State -->
  <app-loading-state *ngSwitchCase="'loading'" />

  <!-- Error State -->
  <app-error-state *ngSwitchCase="'error'" [errorMessage]="errorMessage" (retry)="retryLoading()">
  </app-error-state>

  <!-- Success State -->
  <div *ngSwitchCase="'success'">
    <div class="container-fluid">
      <app-location-search (locationSelected)="onLocationSelected($event.coords, $event.locationData)"
        [selectedCountry]="selectedCountry" [selectedState]="selectedState" [selectedCity]="selectedCity"
        [currentState]="currentState">
      </app-location-search>
      <div class="d-flex flex-column flex-lg-row gap-3 ">
        <app-aside-menu></app-aside-menu>
        <div class="flex-grow-1">
          <app-weather-current [coordinates]="selectedLocation"></app-weather-current>
          <app-weather-forecast [coordinates]="selectedLocation"></app-weather-forecast>
        </div>
      </div>
    </div>
    <app-weather-chart></app-weather-chart>
    <app-temperature-chart></app-temperature-chart>
  </div>
</ng-container>